<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "admin_add_cat" %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="cat">
        <input type="text" name="sub">
        <input type="file" name="icon"  accept=".png,.jpg,.jpeg,.svg">
        <input type="submit">
    </form>
</body>
</html>