<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>DataM</title>
{% load static %}

<script src="{% static 'DataM_files2/app.js.download' %}" defer=""></script>

    
    <link rel="dns-prefetch" href="http://fonts.gstatic.com/">
    <link href="{% static 'DataM_files2/css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'DataM_files2/all.min.css' %}" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

    <link href="{% static 'DataM_files2/app.css' %}" rel="stylesheet">
    <link href="{% static 'DataM_files2/main.css' %}" rel="stylesheet">
    <script src="{% static 'DataM_files2/htmx.min.js.download' %}"></script>
<style>                      .htmx-indicator{opacity:0;transition: opacity 200ms ease-in;}                      .htmx-request .htmx-indicator{opacity:1}                      .htmx-request.htmx-indicator{opacity:1}                    </style></head>
<body>
    
    
    <div id="app">
        <nav class="navbar navbar-expand-md shadow-sm">
            <div class="container-fluid px-5" style="background-color: #083E5E;">
                <a class="navbar-brand bg-white" href="{% url "home" %}">
                    <img src="{% static 'DataM_files2/logo.png' %}" width="100" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav me-auto">

                    </ul>
     
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ms-auto">
                        <!-- Authentication Links -->
                                                                                    <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url "login" %}">Login</a>
                                </li>
                            
                                                            <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url "register" %}">Subscribe</a>
                                </li>
                                                                        </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            <div class="container">
    <div class="row justify-content-center">
       
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Subscribe</div>
                
               {% if messages %}

               <ul >
                   {% for message in messages %}
                   <div class="alert alert-success" role="alert">
                    {{message}}
                  </div>
                    
                 
                   
           
                   {% endfor %}
               </ul>
               {% endif %}
                <div class="card-body">
                    <form method="POST" action="{% url "register" %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="name" class="col-md-4 col-form-label text-md-end">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control " name="name" value="" required="" autocomplete="name" autofocus="" fdprocessedid="nm8nz6">

                                                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="email" class="col-md-4 col-form-label text-md-end">Email Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control " name="email" value="" required="" autocomplete="email" fdprocessedid="98oqew">

                                                            </div>
                        </div>

                        {% comment %} <div class="row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control " name="password" required="" autocomplete="new-password" fdprocessedid="99wllv">

                                                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-end">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required="" autocomplete="new-password" fdprocessedid="4u3kw">
                            </div>
                        </div> {% endcomment %}

                        <div class="row mb-3">
                            <label for="company" class="col-md-4 col-form-label text-md-end">Company</label>

                            <div class="col-md-6">
                                <input id="company" type="text" class="form-control" name="company" value="" fdprocessedid="p8f3oh">

                                                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="phone" class="col-md-4 col-form-label text-md-end">Phone</label>

                            <div class="col-md-6">
                                <input id="phone" type="text" class="form-control" name="phone" value="" fdprocessedid="yduar">

                                                            </div>
                        </div>
                        <input id="" type="hidden" class="form-control" name="trial" value="client">
                        <div class="row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" fdprocessedid="w3qfvd">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        </main>
    </div>

</body></html>